.d5-original p {
    /* background-color: #FF9D00; */
    text-align: left;
    font-family: 'SF-Pro-Text-Light';
    font-size: 23px;
    
    width: 550px;
}

.d5-original p {
    margin-bottom: 10px;
}

.d5-original {
    margin-top: 130px;
}