  /* Lightbox */

  a{
    text-decoration: none; /* Remove underline */
  color: inherit; 
}


  .lightbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1080px;
    max-height: 300vh;
  
    overflow: hidden;
    display: none;
    z-index: 3;
    /* Apply the slide-right animation */
    animation: slide-right 1s cubic-bezier(0.445, 0.050, 0.550, 0.950);

    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
   
}

.lightbox:target {
    display: block;
}



/* text line */

#menu-lb-text {
    /* background-color: aqua; */
    font-family: 'SF-Pro-Text-Regular';
    height: 50px;
    color: white;
}

/* product 1 2 3 style */


/* PRODUCT 1 */
#menu-lb-product1 {
    background-color: #00A5ED;
    height: 200px;
    border-radius: 20px;
    text-align: center;
    background-image: url(../images/Mainpage-Images/lightbox-images/500ML_CAN_MOCKUP_01.svg);
    background-size: cover;
}
#menu-lb-product1 h2 {
    /* background-color: blue; */
    margin: 205px 0 0 0;
    text-align: left;
    font-family: 'SF-Pro-Text-Regular';
    color: white;
}

#menu-lb-product1 h3 {
    /* background-color: blue; */
    font-family: 'SF-Pro-Text-Regular';
    margin: 0 0 0 0;
    text-align: left;
    font-size: 12px;
    color: white;
}

/* PRODUCT 2 */

#menu-lb-product2 {
    background-color: #B50E46;
    height: 200px;
    border-radius: 20px;
    text-align: center;
    background-image: url(../images/Mainpage-Images/lightbox-images/500ML_CAN_MOCKUP_02.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

#menu-lb-product2 h2 {
    /* background-color: pink; */
    margin: 205px 0 0 0;
    text-align: left;
    font-family: 'SF-Pro-Text-Regular';
    color: white;
}

#menu-lb-product2 h3 {
    /* background-color: pink; */
    font-family: 'SF-Pro-Text-Regular';
    margin: 0 0 0 0;
    text-align: left;
    font-size: 12px;
    color: white;
}


/* PRODUCT 3 */

#menu-lb-product3 {
    background-color:#630EAB;
    height: 200px;
    border-radius: 20px;
    text-align: center;
    background-image: url(../images/Mainpage-Images/lightbox-images/500ML_CAN_MOCKUP_03.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
   
}

#menu-lb-product3 h2 {
    /* background-color: VIOLET; */
    margin: 205px 0 0 0;
    text-align: left;
    font-family: 'SF-Pro-Text-Regular';
    color: white;
}

#menu-lb-product3 h3 {
    /* background-color: violet; */
    font-family: 'SF-Pro-Text-Regular';
    margin: 0 0 0 0;
    text-align: left;
    font-size: 12px;
    color: white;
}

/* menu lb prod description  */

#menu-lb-prod {
    /* background-color: brown; */
}

#menu-lb-prod ul {
    margin: -20px 0 0 -30px;
    font-family: 'SF-Pro-Text-Regular';
    list-style-type: none;
    font-size: 10px;
    text-align: left;
}

#menu-lb-prod li a {
    margin: 20px 0 0 0;
    /* background-color: crimson; */
    display: flex;
    align-items: center;
    color: white;
}

#menu-lb-prod li img {
    height: auto;
    width: 40px;
    margin-right: 20px;
    
}

/* menu lb more  */ 

#menu-lb-lmore h2 {
    
    font-family: 'SF-Pro-Text-Regular';
    font-size: 20px;
    color: aliceblue;
   
    
}

#menu-lb-lmore {
    
    font-family: 'SF-Pro-Text-Regular';
    /* background-color: darkmagenta; */
    
}

#menu-lb-lmore ul {  
    margin: 0 0 0 -35px;
    list-style-type: none;  
    font-size: 10px;
    color: white;
}

#menu-lb-lmore ul li {  
    margin: 10px 0 0 0; 
}


/* Social Media */

#menu-lb-scmedia h2 {
    font-family: 'SF-Pro-Text-Regular';
    font-size: 20px;
    margin: 10px 0 0 0;
}

#menu-lb-scmedia p {
    font-family: 'SF-Pro-Text-Regular';
    font-size: 10px;
    margin: 10px 0 0 0 ;
   
}

#menu-lb-scmedia {
    /* background-color: darkkhaki; */
    font-family: 'SF-Pro-Text-Regular';
    color: white;
   
   
}


.scmedia-container {
    display: flex;
    margin-top: 20px;
    
    
}

 .scmedia1, .scmedia2, .scmedia3 {
    /* background-color: black; */
    height: 50px;
    width: 50px;
    margin-right: 5px;
    border-radius: 5px; 
} 

.scmedia1 {
    background-image: url(../images/Mainpage-Images/lightbox-images/FB.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.scmedia2 {
    background-image: url(../images/Mainpage-Images/lightbox-images/IG.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}
.scmedia3 {
    background-image: url(../images/Mainpage-Images/lightbox-images/X.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}


/* Menu Design  */ 

#menu-lb-design {
    /* background-color: deepskyblue; */
    margin-top: 100px;
    width: auto;
    height: 200px;
    background-image: url(../images/Mainpage-Images/lightbox-images/redefined.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;

}

#menu-lb-design2 {
    /* background-color: deepskyblue; */
    margin-top: 100px;
    width: auto;
    height: 200px;
    background-image: url(../images/Mainpage-Images/lightbox-images/Layer\ 1.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;

}


/* changes */

#logo-lb{
    padding:30px ;
}

#menu-nav-lb ul {
    /* background-color: aqua; */
    margin-top: 35px;
    margin-left: 165px;
    font-family: 'SF-Pro-Text-Regular';
    font-size: 15px;
}

#menu-nav-lb li{
    display: inline;
    margin: 5px;
    
    text-align: center;
    
    /* background-color: blue; */
    
}

.box-lb {
    /* background-color: rgb(97, 0, 21); */
    color: rgb(255, 255, 255);
    border-radius: 5px;
    /* padding: 50px; */
    /* padding-bottom: 60px; */
    text-align: center;
    margin-top: 10px;
    margin-bottom:10px;
  }

  .blur-lb {
    position: relative; 
 }

 #menu-lb-2 img {
    margin-top: 22px;
}


/* animations for the lb*/
/* original */
.hover-animation1:hover {
	animation: text-shadow-pop-tl1 0.6s both;
}


@keyframes text-shadow-pop-tl1 {
    0% {
      text-shadow: 0 0 #00A5ED, 0 0 #00A5ED, 0 0 #00A5ED, 0 0 #00A5ED, 0 0 #00A5ED, 0 0 #00A5ED, 0 0 #00A5ED, 0 0 #00A5ED;
      transform: translateX(0) translateY(0);
    }
    100% {
      text-shadow: -1px -1px #00A5ED, -2px -2px #00A5ED, -3px -3px #00A5ED, -4px -4px #00A5ED, -5px -5px #00A5ED, -6px -6px #00A5ED, -7px -7px #00A5ED, -8px -8px #00A5ED;
      transform: translateX(8px) translateY(8px);
    }
}


/* velvet */
.hover-animation2:hover {
	animation: text-shadow-pop-tl2 0.6s both;
}

@keyframes text-shadow-pop-tl2 {
    0% {
      text-shadow: 0 0 #E1066D, 0 0 #E1066D, 0 0 #E1066D, 0 0 #E1066D, 0 0 #E1066D, 0 0 #E1066D, 0 0 #E1066D, 0 0 #E1066D;
      transform: translateX(0) translateY(0);
    }
    100% {
      text-shadow: -1px -1px #E1066D, -2px -2px #E1066D, -3px -3px #E1066D, -4px -4px #E1066D, -5px -5px #E1066D, -6px -6px #E1066D, -7px -7px #E1066D, -8px -8px #E1066D;
      transform: translateX(8px) translateY(8px);
    }
}

/* midnight shadowberry */

.hover-animation3:hover {
	animation: text-shadow-pop-tl3 0.6s both;
}

@keyframes text-shadow-pop-tl3 {
    0% {
      text-shadow: 0 0 #8B07E0, 0 0 #8B07E0, 0 0 #8B07E0, 0 0 #8B07E0, 0 0 #8B07E0, 0 0 #8B07E0, 0 0 #8B07E0, 0 0 #8B07E0;
      transform: translateX(0) translateY(0);
    }
    100% {
      text-shadow: -1px -1px #8B07E0, -2px -2px #8B07E0, -3px -3px #8B07E0, -4px -4px #8B07E0, -5px -5px #8B07E0, -6px -6px #8B07E0, -7px -7px #8B07E0, -8px -8px #8B07E0;
      transform: translateX(8px) translateY(8px);
    }
}


/* menu lb prod */

#menu-lb-prod ul li a {
    color: white; /* Initial color */
    transition: color 0.3s ease; /* Smooth transition */
}

#menu-lb-prod ul li a:hover {
    color: #FF9D00; /* Color on hover */
    
}
