

@font-face {
    font-family: 'SF-Pro-Text-Regular';
    src: local('SF-Pro-Text-Regular'), url('../assets/fonts/SF-Pro-Display-Regular.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Text-Light';
    src: local('SF-Pro-Text-Light'), url('../assets/fonts/SF-Pro-Display-Light.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'moxa-bestine';
    src: local('moxa-bestine'), url('../assets/fonts/moxa-bestine.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Display-Bold';
    src: local('SF-Pro-Display-Bold'), url('../assets/fonts/SF-Pro-Display-Bold.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}



a{
    text-decoration: none; /* Remove underline */
  color: inherit; 
}

body{
    background-color: #06060E;
}

h2, p{
    color: white;
}
.blur {
    position: relative; 
 }
 
.sec1{
    margin-top: 429px;
}

.m-m-t{
    font-family: 'moxa-bestine';
    
    
 }

  /* MARGINS - TOP, BOTTOM, RIGHT, LEFT */

 .m-m-t h2:nth-child(1){
    margin: -566px 0 0 194px;
    font-size: 154px;
    color: #fff;
 }


 .m-m-t h2:nth-child(2){

    margin: 10px 0 45px 194px; 
    font-size: 154px;
    color: #fff;
    /* background-color: bisque; */
 }


 .m-m-t h2:nth-child(3){
    margin: -53px 121px 0 191px;
    font-size: 180px;
    color: #fff;
    /* background-color: blueviolet; */
    padding: 0;
 }



.line h2 {
    color: #FF9D00;
    font-family: 'SF-Pro-Text-Regular';
    font-size: 12px;
    
    text-align: center;
}


 .blur::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 248, 255, 0.5);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(8.5px);
    z-index: -1;
    border-radius: inherit; 
    opacity: 0;
   
 }



 .m-m-i img{
    width: 256px;
    position: absolute;
    top: -397px;
    left: 101px;
    margin: 15px 0 0 353px;
 }




/* -------------------- */


.bg-bear {
    height: 500px;
    width: 500px;
    /* margin-top: -200px; */
    padding: 0;
    z-index: 0;
    background-color: aqua;
    position: absolute;
}

#menu-nav ul {
    /* background-color: aqua; */
    margin-top: 35px;
    margin-left: 165px;
    font-family: 'SF-Pro-Text-Regular';
    font-size: 15px;
}

#menu-nav li{
    display: inline;
    margin: 5px;
    
    text-align: center;
    
    /* background-color: blue; */
    
}

/* body {
    position: relative;
    background-image: url(../images/Landing-Page-Images/PNG/bg-bear.png);
    background-repeat: no-repeat;
    background-size: cover;
} */

.container{
    position: relative;
    background-image: url(../images/Landing-Page-Images/PNG/bg-bear.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#menu-lb img {
    margin-top: 22px;
}

.box {
    /* opacity: 0.2; */
}







/* ------------------------------------------- */




img, embed, object, video, picture {
    max-width: 100%;
  }

  
  html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  

  
  body, p, h1,  h3, h4, h5 {
     margin: 0px;
     padding: 0px;
  }
  
 
  
  .hidden {
     display: none;
  }
  
  .box {
     /* background-color: rgb(97, 0, 21); */
     color: rgb(255, 255, 255);
     border-radius: 5px;
     /* padding: 50px; */
     /* padding-bottom: 60px; */
     text-align: center;
     margin-top: 10px;
     margin-bottom:10px;
   }
  #menu, #logo{
      padding:30px ;
  }



  #hero-image {
    position: relative;
    display: inline-block;
    padding: 75px;
    cursor: pointer;
}

#hero-image a::after {
    content: "";
    position: absolute;
    top: -80%;
    left: 35%;
    transform: translate(-50%, -50%);
    padding: 100px;
    opacity: 0; 
    transition: opacity 0.5s ease; 
    z-index: 2; 
    font-size: 15px;
    background-image: url(../images/bear-hover-index/Interact.png);
    background-size: contain;
    background-repeat: no-repeat;
    

}

#hero-image a:hover::after {
    opacity: 1; 
}

#hero-image a img {
    z-index: 1; /* Ensure the image is behind the pseudo-element */
}


/* .video3d {
    height: 30vh;
    width: auto;
    background-color: #FF9D00;
    margin-top: 200px;

} */



/* -------------------SECTION B--------------------------- */


.video-container {
    position: relative;
}

.video-overlay1 {
    position: absolute;
    top:550px;
    left: 500px;
    width: 100%;
    height: auto;
    z-index: 1; /* Ensure the image is above the video */
    font-family: 'SF-Pro-Text-Regular';
    font-size: 10px;
    width: 500px;
    text-align: center;

}

.video-overlay2 {
    position: absolute;
    top: 217px;
    left: 85px;
    width: 100%;
    height: auto;
    z-index: 1; /* Ensure the image is above the video */
    
}

#section-b div{
    margin: -5px;
    width: 100%;
    /* height: 100em; */
    /* background-image: url(../images/Mainpage-Images/section2-banner.png); */
}



#video{
    margin: 0;
width: 100%;
height: 54em;
}



/* ----------------SECTION C----------- */


/*---- Product1 -------------*/

#section-c{
background-color: #06060E;

}


#section-c p{
    text-align: left;
    width: 30em;
}


#section-c div:first-child{
    width: 100%;
    height: 40em;
}


.p1{
    margin: 200px 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: flex-start;
    align-items: center;
}    


.p2{
    margin: 200px 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: flex-start;
    align-items: center;
} 
.p3{
    margin: 200px 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: flex-start;
    align-items: center;
} 


#img1, #img2,#img3{
    width: 100%;
}


#txt-p1 h2{
    margin: 100px 0 0 0;
    font-size: 84px;   
}

#txt-p2 h2{
    margin: 100px 0 0 0;
    font-size: 84px;   
}

#txt-p3 h2{
    margin: 100px 0 0 0;
    font-size: 84px;   
}

#txt-p1, #txt-p2, #txt-p3 {
    font-family: 'SF-Pro-Text-Regular';
}







/*---- Product1 button-------------*/


.btn1 {
    background-color: #FF9FC6; /* Green background */
    border: none;
    color: white; /* White text */
    padding: 20px 15px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px; /* Adjust margin */
    cursor: pointer; /* Cursor style */
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.5s ease; /* Smooth transition */
}

.btn1:active{
    background-color: #E1066D; /* Darker green on hover */
}


/*---- Product2 button-------------*/


.btn2 {
    background-color: #00A5ED; /* Green background */
    border: none;
    color: white; /* White text */
    padding: 20px 15px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px; /* Adjust margin */
    cursor: pointer; /* Cursor style */
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.5s ease; /* Smooth transition */
}

.btn2:active {
    background-color: #1B215E; /* Darker green on hover */
}


/*---- Product3 button-------------*/


.btn3 {
    background-color: #8B07E0; /* Green background */
    border: none;
    color: white; /* White text */
    padding: 20px 15px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px; /* Adjust margin */
    cursor: pointer; /* Cursor style */
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.5s ease; /* Smooth transition */
}

 .btn3:active {
    background-color: #6D0643; /* Darker green on hover */
}





/* FOOTER   */

footer {
    /* background-color: #6D0643; */
   
    
}

#footer-des {
    /* background-color: aqua; */
    height: 150vh;
    margin-top: 200px;
   
}

.zima-image {
    /* background-color: #FF9FC6; */
    margin-top: 50px;
    height: 50vh;
    margin-left: 50px;
    background-image: url(../images/Mainpage-Images/lightbox-images/Layer\ 1.svg);
    background-repeat: no-repeat;
    background-size: contain;
}


/* Social Media - Footer */



.scmedia-footer {
   /* background-color: #1B215E; */
   height: 50vh;
   margin-top: 50px;
   

 
}

.scmedia-footer-container {
    display: flex;
    align-items: center;
   
}

footer .scmedia-footer-box1 {
    height: 120px;
    width: 120px;
    
    margin-left: 20px;
    border-radius: 20px;
    background-image: url(../images/Mainpage-Images/lightbox-images/IG.svg);
    background-size: cover;
}

footer .scmedia-footer-box2 {
    height: 120px;
    width: 120px;
    margin-left: 20px;
    border-radius: 20px;
    background-image: url(../images/Mainpage-Images/lightbox-images/FB.svg);
    background-size: cover;
}

footer .scmedia-footer-box3 {
    height: 120px;
    width: 120px;
    /* background-color:white; */
    margin-left: 20px;
    border-radius: 20px;
    background-image: url(../images/Mainpage-Images/lightbox-images/X.svg);
    background-size: cover;
}



footer h3 {
    color: white;
    font-family: 'SF-Pro-Text-Regular';
    font-size: 30px;
    margin-bottom: 50px;
    margin-left: 15px;
    
}

footer h4 {
    color: aliceblue;
    font-family: 'SF-Pro-Text-Regular';
    margin-left: 15px;
    margin-top: 20px;

}

/* A great way to interact freshhness */

.agwtf {
    /* background-color: antiquewhite; */
    height: 70vh;
    
}

.agwtf h3 {
    /* background-color: #FF9D00; */
    font-size: 120px;
    width: 562px;
    font-family: 'moxa-bestine';
}

.agwtf h3 img {
    height: auto;
    width: 90px;
    transform: rotate(55deg);
    margin: 0 0 -20px 0;
}

/* text-description-footer */


#text-description-footer {
    /* background-color: #E1066D; */
    height: 70vh;
}


#text-description-footer h3 {
    color: white;
    font-size:15px;
    width: 400px;
    font-family: 'SF-Pro-Text-Light';
}

/* LOGOZIMAFOOTER */

#logo-zima-footer {
    /* background-color: #1B215E; */
    height: 20vh;
    
   
}

#logo-zima-footer h3 {
    font-family: 'moxa-bestine';
    font-size: 90px;

}



/* IMAGE ANIMATION FOR VELVET */

#img1 {
    position: relative;
    
}

.product-containers1 {
    position: relative;
   
}

#mage1-v {
    position: relative;
    z-index: 2;
}

#mage2-v {
    position: absolute;
    z-index: 1;
    width: 350px; 
    height: auto; 
    top: 20px; /* Start the element above the viewport */
    left: 45px;
}

#img1:hover #mage2-v {
    animation: slide-in-top-v 1s ease forwards; /* Apply the slideDownRotate animation when #img3 is hovered */
}

@keyframes slide-in-top-v {
    0% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
    50% {
        transform: translate(0, 0) translateZ(32) rotateZ(0deg);
    }
    100% {
        transform: translate(325px, 50px) translateZ(150px) rotateZ(25deg);
    }
}

#img1 #mage2-v {
    animation: return-to-initial-slide-v 1.5s ease-in-out forwards;
}

@keyframes return-to-initial-slide-v {
    0% {
        transform: translate(325px, 50px) translateZ(150px) rotateZ(25deg);
    }
    50% {
        transform: translate(0, 0) translateZ(32) rotateZ(0deg);
    }
    100% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
}

/* image1 animation */

#hover-image1-v {
    position: absolute;
    top: 50px;
    left: 30em;
    height: 100%;
    width: 40%;
    transition: transform 1s ease; 
}

#img1:hover #hover-image1-v {
    animation: k1-v 1.5s ease-in-out forwards; 
}

#img1 #hover-image1-v {
    animation: return-to-initial1-v 1.5s ease-in-out forwards;
}

@keyframes k1-v {
    0% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
    50% {
        transform: translate(0, 0) translateZ(60) rotateZ(366deg);
    }
    100% {
        transform: translate(-990px, -130px) translateZ(-110px) rotateZ(395deg);
    }
}

@keyframes return-to-initial1-v {
    0% {
        transform: translate(-990px, -130px) translateZ(-110px) rotateZ(395deg);
    }
    100% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
}


/* image2 animation */
#hover-image2-v {
    position: absolute;
    top: 210px;
    left: 29em;
    height: 100%;
    width: 40%;
    transition: transform 1s ease; 
    z-index: 2;
}

#img1:hover #hover-image2-v {
    animation: k2-v 1.5s ease-in-out forwards; 
}

#img1 #hover-image2-v {
    animation: return-to-initial2-v 1.5s ease-in-out forwards;
}

@keyframes k2-v {
    0% {
        transform: translate(0, 0) translateZ(0) rotateZ(deg);
    }
    50% {
        transform: translate(0, 0) translateZ(32) rotateZ(10deg);
    }
    100% {
        transform: translate(-1410px, -140px) translateZ(190px) rotateZ(-225deg);
    }
}

@keyframes return-to-initial2-v {
    0% {
        transform: translate(-1410px, -140px) translateZ(190px) rotateZ(-225deg);
    }
    100% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
}



/* IMAGE ANIMATION FOR ORIGINAL*/

#img2 {
    position: relative;
    
}

.product-containers2 {
    position: relative;
   
}

#mage1-o {
    position: relative;
    z-index: 2;
}

#mage2-o {
    position: absolute;
    z-index: 1;
    width: 350px; 
    height: auto; 
    top: 1px; /* Start the element above the viewport */
    left: 45px;
}

#img2:hover #mage2-o {
    animation: slide-in-top-o 1s ease forwards; /* Apply the slideDownRotate animation when #img3 is hovered */
}

@keyframes slide-in-top-o {
    0% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
    50% {
        transform: translate(0, 0) translateZ(32) rotateZ(0deg);
    }
    100% {
        transform: translate(-125px, 20px) translateZ(150px) rotateZ(-25deg);
    }
}

#img2 #mage2-o {
    animation: return-to-initial-slide-o 1.5s ease-in-out forwards;
}

@keyframes return-to-initial-slide-o {
    0% {
        transform: translate(-125px, 20px) translateZ(150px) rotateZ(-25deg);
    }
    50% {
        transform: translate(0, 0) translateZ(32) rotateZ(0deg);
    }
    100% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
}


/* image1 animation */

#hover-image1-o {
    position: absolute;
    top: 50px;
    left: -5em;
    height: 100%;
    width: 40%;
    transition: transform 1s ease; 
    
}

#img2:hover #hover-image1-o {
    animation: k1-o 1.5s ease-in-out forwards; 
}

#img2 #hover-image1-o {
    animation: return-to-initial1-o 1.5s ease-in-out forwards;
}

@keyframes k1-o {
    0% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
    50% {
        transform: translate(0, 0) translateZ(32) rotateZ(0deg);
    }
    100% {
        transform: translate(410px, 10px) translateZ(150px) rotateZ(95deg);
    }
}

@keyframes return-to-initial1-o {
    0% {
        transform: translate(410px, 10px) translateZ(150px) rotateZ(95deg);
    }
    100% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
}


/* image2 animation */
#hover-image2-o {
    position: absolute;
    top: 210px;
    left: 29em;
    height: 100%;
    width: 40%;
    transition: transform 1s ease; 
    z-index: 2;
}

#img2:hover #hover-image2-o {
    animation: k2-o 1.5s ease-in-out forwards; 
}

#img2 #hover-image2-o {
    animation: return-to-initial2-o 1.5s ease-in-out forwards;
}

@keyframes k2-o {
    0% {
        transform: translate(0, 0) translateZ(0) rotateZ(deg);
    }
    50% {
        transform: translate(0, 0) translateZ(32) rotateZ(10deg);
    }
    100% {
        transform: translate(-810px, -240px) translateZ(150px) rotateZ(-225deg);
    }
}

@keyframes return-to-initial2-o {
    0% {
        transform: translate(-910px, -250px) translateZ(150px) rotateZ(-225deg);
    }
    100% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
}








/* IMAGE ANIMATION FOR SHADOWBERRY*/

#img3 {
    position: relative;
    
}

.product-container3 {
    position: relative;
   
}

/* image 1 and 2 */

#mage1-s {
    position: relative;
    z-index: 2;
}

#mage2-s {
    position: absolute;
    z-index: 1;
    width: 350px; 
    height: auto; 
    top: 1px; /* Start the element above the viewport */
    left: 45px;
}

#img3:hover #mage2-s {
    animation: slide-in-top-s 1s ease forwards; /* Apply the slideDownRotate animation when #img3 is hovered */
}

@keyframes slide-in-top-s {
    0% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
    50% {
        transform: translate(0, 0) translateZ(32) rotateZ(0deg);
    }
    100% {
        transform: translate(310px, 60px) translateZ(150px) rotateZ(25deg);
    }
}

#img3 #mage2-s {
    animation: return-to-initial-slide-s 1.5s ease-in-out forwards;
}

@keyframes return-to-initial-slide-s {
    0% {
        transform: translate(310px, 60px) translateZ(150px) rotateZ(25deg);
    }
    50% {
        transform: translate(0, 0) translateZ(32) rotateZ(0deg);
    }
    100% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
}


/* image1 animation */

#hover-image1-s {
    position: absolute;
    top: 50px;
    left: -5em;
    height: 100%;
    width: 40%;
    transition: transform 1s ease; 
    
}

#img3:hover #hover-image1-s {
    animation: k1-s 1.5s ease-in-out forwards; 
}

#img3 #hover-image1-s {
    animation: return-to-initial1-s 1.5s ease-in-out forwards;
}

@keyframes k1-s {
    0% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
    50% {
        transform: translate(0, 0) translateZ(32) rotateZ(0deg);
    }
    100% {
        transform: translate(310px, 110px) translateZ(150px) rotateZ(95deg);
    }
}

@keyframes return-to-initial1-s {
    0% {
        transform: translate(310px, 110px) translateZ(150px) rotateZ(95deg);
    }
    100% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
}


/* image2 animation */
#hover-image2-s {
    position: absolute;
    top: 50px;
    left: 23em;
    height: 100%;
    width: 40%;
    transition: transform 1s ease; 
    z-index: 2;
}

#img3:hover #hover-image2-s {
    animation: k2-s 1.5s ease-in-out forwards; 
}

#img3 #hover-image2-s {
    animation: return-to-initial2-s 1.5s ease-in-out forwards;
}

@keyframes k2-s {
    0% {
        transform: translate(0, 0) translateZ(0) rotateZ(deg);
    }
    50% {
        transform: translate(0, 0) translateZ(32) rotateZ(10deg);
    }
    100% {
        transform: translate(-310px, -110px) translateZ(150px) rotateZ(-105deg);
    }
}

@keyframes return-to-initial2-s {
    0% {
        transform: translate(-310px, -110px) translateZ(150px) rotateZ(-105deg);
    }
    100% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
}






/* -----------------svgs----------------- */
/* SECTION D */


/* .frame {
    margin-top: 150px;
} */



/* .can-svgs{
    position: absolute;
} */

#blue-svg{
    top: 13em;
    left: 20em;
    height: auto;
    width: 530px;  
    position: absolute;
}

#valvet-svg{
    top: 53em;
    left: 50em;
    height: auto;
    width: 590px;
    position: absolute;
}

#purple-svg{
    top: 58em;
    left: -6em;
    height: auto;
    width: 555px;
    position: absolute;
     
}

#section-d {
    position: relative;
}

/* Hover Animation */


/* original animation */

.can-image1 {
    position: relative;
    cursor: pointer;
}
#blue-svg::after {
    content: ""; 
    position: absolute;
    top: 30%;
    left: 95%;
    transform: translate(-50%, 10px);
    padding: 200px;
    z-index: 999; 
    background-image: url(../images/Mainpage-Images/cans-frame/textelemnt@2x.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1); /* Smooth transition */
}

#blue-svg:hover::after {
    opacity: 1; /* Show on hover */
}



/* midnight */


.can-image2 {
    position: relative;
    cursor: pointer;
}

.can-image2::after {
    content: ""; 
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 100%; /* Adjust as needed */
    transform: translate(-50%, -50%); /* Adjust as needed */
    padding: 200px; /* Adjust as needed */
    z-index: 999; 
    background-image: url(../images/Mainpage-Images/cans-frame/mdnghtshdowbbery@2x.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1); /* Smooth transition */
}

.can-image2:hover::after {
    opacity: 1; /* Show on hover */
}

/* Velvet */


.can-image3 {
    position: relative;
    cursor: pointer;
}

.can-image3::after {
    content: ""; 
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 5%; /* Adjust as needed */
    transform: translate(-50%, -50%); /* Adjust as needed */
    padding: 250px; /* Adjust as needed */
    z-index: 999; 
    background-image: url(../images/Mainpage-Images/cans-frame/velvet@2x.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1); /* Smooth transition */
}

.can-image3:hover::after {
    opacity: 1; /* Show on hover */
}


/* H3 */

#section-d h3 {
    color: aliceblue;
    text-align: center;
    font-family: 'SF-Pro-Display-Bold';
    position: absolute;
    font-size: 100px;
    top: 9em;
    left: 100px;
    width: 10em;
    text-align: center;
}


/* Animation for Elements inside the Board */


/* Blue1 */

.elements-blue1 {
    position: absolute;
    top: 550px;
    left: 33em;
}

.elements-blue1 img {
    width: 425px;
    height: auto;
    
}

.can-image1:hover ~ .elements-blue1 img {
    animation: slide-in-top-b 1s ease-in-out forwards; 
}

@keyframes slide-in-top-b {
    0% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
    50% {
        transform: translate(0, 0) translateZ(32px) rotateZ(0deg); /* Ensure units are added for translateZ */
    }
    100% {
        transform: translate(-340px, -270px) translateZ(150px) rotateZ(255deg);
    }
}

.can-image1 ~ .elements-blue1 img {
    animation: slide-out-top-b 1s ease-in-out forwards; 
}

@keyframes slide-out-top-b {
    0% {
        transform: translate(-340px, -270px) translateZ(150px) rotateZ(255deg);
    }
    50% {
        transform: translate(0, 0) translateZ(32px) rotateZ(0deg); /* Ensure units are added for translateZ */
    }
    100% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
}

/* Blue 2 */

.elements-blue2 {
    position: absolute;
    top: 190px;
    left: 13em;
}

.elements-blue2 img {
    width: 425px;
    height: auto;
    
}

.can-image1:hover ~ .elements-blue2 img {
    animation: slide-in-top-b2 1s ease-in-out forwards; 
}

@keyframes slide-in-top-b2 {
    0% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
    50% {
        transform: translate(0, 0) translateZ(32px) rotateZ(0deg); /* Ensure units are added for translateZ */
    }
    100% {
        transform: translate(340px, 470px) translateZ(150px) rotateZ(-295deg);
    }
}

.can-image1 ~ .elements-blue2 img {
    animation: slide-out-top-b2 1s ease-in-out forwards; 
}

@keyframes slide-out-top-b2 {
    0% {
        transform: translate(340px, 470px) translateZ(150px) rotateZ(-295deg);
    }
    50% {
        transform: translate(0, 0) translateZ(32px) rotateZ(0deg); /* Ensure units are added for translateZ */
    }
    100% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
}


/* midnight  */

.elements-midnight1 {
    position: absolute;
    top: 60em;
    left: 23em;
}

.elements-midnight1 img {
    width: 325px;
    height: auto;
    
}

.can-image2:hover ~ .elements-midnight1 img {
    animation: slide-in-top-m1 1s ease-in-out forwards; 
}

@keyframes slide-in-top-m1 {
    0% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
    50% {
        transform: translate(0, 0) translateZ(32px) rotateZ(0deg); 
    }
    100% {
        transform: translate(-540px, 470px) translateZ(150px) rotateZ(-295deg);
    }
}

.can-image2 ~ .elements-midnight1 img {
    animation: slide-out-top-m1 1s ease-in-out forwards; 
}

@keyframes slide-out-top-m1 {
    0% {
        transform: translate(-540px, 470px) translateZ(150px) rotateZ(-295deg);
    }
    50% {
        transform: translate(0, 0) translateZ(32px) rotateZ(0deg); 
    }
    100% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
}

/* midnight 2 */

.elements-midnight2 {
    position: absolute;
    top: 95em;
    left: 13em;
}

.elements-midnight2 img {
    width: 325px;
    height: auto;
    
}

.can-image2:hover ~ .elements-midnight2 img {
    animation: slide-in-top-m2 1s ease-in-out forwards; 
}

@keyframes slide-in-top-m2 {
    0% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
    50% {
        transform: translate(0, 0) translateZ(32px) rotateZ(0deg); 
    }
    100% {
        transform: translate(310px, -170px) translateZ(150px) rotateZ(-395deg);
    }
}

.can-image2 ~ .elements-midnight2 img {
    animation: slide-out-top-m2 1s ease-in-out forwards; 
}

@keyframes slide-out-top-m2 {
    0% {
        transform: translate(310px, -170px) translateZ(150px) rotateZ(-395deg);
    }
    50% {
        transform: translate(0, 0) translateZ(32px) rotateZ(0deg); 
    }
    100% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
}

/* Velvet 1 */


.elements-velvet1 {
    position: absolute;
    top: 95em;
    left: 59em;
}

.elements-velvet1 img {
    width: 325px;
    height: auto;
    
}

.can-image3:hover ~ .elements-velvet1 img {
    animation: slide-in-top-v1 1s ease-in-out forwards; 
}

@keyframes slide-in-top-v1 {
    0% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
    50% {
        transform: translate(0, 0) translateZ(32px) rotateZ(0deg); 
    }
    100% {
        transform: translate(-210px, -370px) translateZ(150px) rotateZ(395deg);
    }
}

.can-image3 ~ .elements-velvet1 img {
    animation: slide-out-top-v1 1s ease-in-out forwards; 
}

@keyframes slide-out-top-v1 {
    0% {
        transform: translate(-210px, -370px) translateZ(150px) rotateZ(395deg);
    }
    50% {
        transform: translate(0, 0) translateZ(32px) rotateZ(0deg); 
    }
    100% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
}

/* velvet 2 */


.elements-velvet2 {
    position: absolute;
    top: 55em;
    left: 59em;
}

.elements-velvet2 img {
    width: 325px;
    height: auto;
    
}

.can-image3:hover ~ .elements-velvet2 img {
    animation: slide-in-top-v2 1s ease-in-out forwards; 
}

@keyframes slide-in-top-v2 {
    0% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
    50% {
        transform: translate(0, 0) translateZ(32px) rotateZ(0deg); 
    }
    100% {
        transform: translate(110px, 470px) translateZ(150px) rotateZ(395deg);
    }
}

.can-image3 ~ .elements-velvet2 img {
    animation: slide-out-top-v2 1s ease-in-out forwards; 
}

@keyframes slide-out-top-v2 {
    0% {
        transform: translate(110px, 470px) translateZ(150px) rotateZ(395deg);
    }
    50% {
        transform: translate(0, 0) translateZ(32px) rotateZ(0deg); 
    }
    100% {
        transform: translate(0, 0) translateZ(0) rotateZ(0deg);
    }
}
















    



















  
  

